node-red-sashboard.json
[
    {
        "id": "97715efa32f8606f",
        "type": "tab",
        "label": "Поток 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4aac2762c8114a50",
        "type": "mqtt in",
        "z": "97715efa32f8606f",
        "name": "",
        "topic": "data/var/test",
        "qos": "2",
        "datatype": "auto",
        "broker": "43a15a7e39ec48bd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 240,
        "wires": [
            [
                "d4cb2b154fe7c55f"
            ]
        ]
    },
    {
        "id": "d4cb2b154fe7c55f",
        "type": "function",
        "z": "97715efa32f8606f",
        "name": "dataFromatter",
        "func": "var a=msg.payload;\nconsole.log(a)\nvar g=a.split(',')\nvar dataArray=[parseFloat(g[0]),parseFloat(g[1]),parseFloat(g[2])]\nmsg.payload=dataArray;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 240,
        "wires": [
            [
                "c9243335a0f24d84",
                "7a28fb9f1336cc78",
                "261e504dcc8412b6",
                "77ebaf3af0df86e7"
            ]
        ]
    },
    {
        "id": "c9243335a0f24d84",
        "type": "debug",
        "z": "97715efa32f8606f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 120,
        "wires": []
    },
    {
        "id": "7a28fb9f1336cc78",
        "type": "function",
        "z": "97715efa32f8606f",
        "name": "dataAnalyzerTemperature",
        "func": "var dataArray=msg.payload;\nmsg.payload=dataArray[0];\nmsg.topic=\"Temperature\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 280,
        "wires": [
            [
                "dc0c61b02ad6bc0b",
                "3db085e870e26a6c"
            ]
        ]
    },
    {
        "id": "261e504dcc8412b6",
        "type": "function",
        "z": "97715efa32f8606f",
        "name": "dataAnalyzerHumidity",
        "func": "var dataArray=msg.payload;\nmsg.payload=(1023 - dataArray[1]) / 1023 * 100;\nmsg.topic=\"Humidity\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 380,
        "wires": [
            [
                "ad2c86e289adbcdb",
                "2fa78946dcd4905c"
            ]
        ]
    },
    {
        "id": "77ebaf3af0df86e7",
        "type": "function",
        "z": "97715efa32f8606f",
        "name": "dataAnalyzerIllumination",
        "func": "var dataArray=msg.payload;\nmsg.payload=dataArray[2] / 1023 * 100;\nmsg.topic=\"Illumination\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 480,
        "wires": [
            [
                "77100b3a829a1141",
                "a30037b882923ae7"
            ]
        ]
    },
    {
        "id": "3db085e870e26a6c",
        "type": "ui_chart",
        "z": "97715efa32f8606f",
        "name": "",
        "group": "a27154f70136ed9d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Plants Data (Temperature)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1240,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "ad2c86e289adbcdb",
        "type": "ui_chart",
        "z": "97715efa32f8606f",
        "name": "",
        "group": "a27154f70136ed9d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Plamts Data (Humidity)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1230,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "77100b3a829a1141",
        "type": "ui_chart",
        "z": "97715efa32f8606f",
        "name": "",
        "group": "a27154f70136ed9d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Plamts Data (Illumination)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1230,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "9e2c57c184443993",
        "type": "function",
        "z": "97715efa32f8606f",
        "name": "clearChart",
        "func": "var dataArray=msg.payload;\nmsg.payload=[];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 660,
        "wires": [
            [
                "3db085e870e26a6c",
                "ad2c86e289adbcdb",
                "77100b3a829a1141"
            ]
        ]
    },
    {
        "id": "1c65b7ab809da5bc",
        "type": "inject",
        "z": "97715efa32f8606f",
        "name": "clearAll",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 650,
        "y": 680,
        "wires": [
            [
                "9e2c57c184443993"
            ]
        ]
    },
    {
        "id": "e76cc43fee6ace50",
        "type": "http in",
        "z": "97715efa32f8606f",
        "name": "",
        "url": "/test",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "09bd5a609354f356"
            ]
        ]
    },
    {
        "id": "09bd5a609354f356",
        "type": "function",
        "z": "97715efa32f8606f",
        "name": "dataFromatter",
        "func": "var a=msg.payload;\nconsole.log(a)\nvar s = JSON.stringify(a);\nvar o=JSON.parse(s);\nmsg.payload=o;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 520,
        "wires": [
            [
                "52644c4edd89c7bc",
                "90b8f38c5d68515e",
                "1f0a6876e110b014",
                "59d8556a766d4b7a",
                "a3f37bdf3d8fd153"
            ]
        ]
    },
    {
        "id": "52644c4edd89c7bc",
        "type": "debug",
        "z": "97715efa32f8606f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 420,
        "wires": []
    },
    {
        "id": "90b8f38c5d68515e",
        "type": "http response",
        "z": "97715efa32f8606f",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 360,
        "y": 640,
        "wires": []
    },
    {
        "id": "1f0a6876e110b014",
        "type": "function",
        "z": "97715efa32f8606f",
        "name": "dataThreasholdTemperature",
        "func": "var dataArray=msg.payload;\nmsg.payload=dataArray.t;\nmsg.topic=\"TemperatureThreshold\";\nconsole.log('aaa')\nconsole.log(msg)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 320,
        "wires": [
            [
                "3db085e870e26a6c"
            ]
        ]
    },
    {
        "id": "59d8556a766d4b7a",
        "type": "function",
        "z": "97715efa32f8606f",
        "name": "dataThreasholdHumidity",
        "func": "var dataArray=msg.payload;\nmsg.payload=dataArray.h;\nmsg.topic=\"HumidityThreshold\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 420,
        "wires": [
            [
                "ad2c86e289adbcdb"
            ]
        ]
    },
    {
        "id": "a3f37bdf3d8fd153",
        "type": "function",
        "z": "97715efa32f8606f",
        "name": "dataThreasholdIllumination",
        "func": "var dataArray=msg.payload;\nmsg.payload=dataArray.i;\nmsg.topic=\"IlluminationThreshold\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 520,
        "wires": [
            [
                "77100b3a829a1141"
            ]
        ]
    },
    {
        "id": "dc0c61b02ad6bc0b",
        "type": "switch",
        "z": "97715efa32f8606f",
        "name": "switchTemperature",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "15",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 990,
        "y": 220,
        "wires": [
            [
                "3db085e870e26a6c",
                "52f3fc056a0703ce"
            ]
        ]
    },
    {
        "id": "52f3fc056a0703ce",
        "type": "ui_toast",
        "z": "97715efa32f8606f",
        "position": "dialog",
        "displayTime": "10",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Temperature is too low",
        "name": "Temperature-is-Low",
        "x": 1240,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "2fa78946dcd4905c",
        "type": "switch",
        "z": "97715efa32f8606f",
        "name": "switchHumidity",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "15",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 980,
        "y": 360,
        "wires": [
            [
                "491989a53bf2dfbc",
                "ad2c86e289adbcdb"
            ]
        ]
    },
    {
        "id": "491989a53bf2dfbc",
        "type": "ui_toast",
        "z": "97715efa32f8606f",
        "position": "dialog",
        "displayTime": "10",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Humidity level is too low",
        "name": "Humidity-is-Low",
        "x": 1200,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "a30037b882923ae7",
        "type": "switch",
        "z": "97715efa32f8606f",
        "name": "switchIllumination ",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "15",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 990,
        "y": 480,
        "wires": [
            [
                "e0795e2be292c1ae",
                "77100b3a829a1141"
            ]
        ]
    },
    {
        "id": "e0795e2be292c1ae",
        "type": "ui_toast",
        "z": "97715efa32f8606f",
        "position": "dialog",
        "displayTime": "10",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Illumination level is too low",
        "name": "Illumination -is-Low",
        "x": 1230,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "43a15a7e39ec48bd",
        "type": "mqtt-broker",
        "name": "sonya-mqtt",
        "broker": "3.238.21.184",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "a27154f70136ed9d",
        "type": "ui_group",
        "name": "IoTStarter",
        "tab": "03b8dcbd47a56682",
        "order": 1,
        "disp": true,
        "width": 19,
        "collapse": false,
        "className": ""
    },
    {
        "id": "03b8dcbd47a56682",
        "type": "ui_tab",
        "name": "IoTStarter",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]
